<main class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>Product {{this._id}}</h1>
			<a href="/" class="btn btn-default">Back to products</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<dl>
				<dt>Score</dt>
				<dd>{{this.score}}</dd>
				<dt>Review Count</dt>
				<dd>{{this.reviewCount}}</dd>
				<dt>Threshold</dt>
				<dd>{{this.threshold}}</dd>
				<dt>Cascading</dt>
				<dd>{{this.cascadeDirection}}</dd>
			</dl>
			<h2>Most helpful review</h2>
			<dl>
				<dt>Review index</dt>
				<dd>{{this.helpful.index}}</dd>
				<dt>Review helpfulness count</dt>
				<dd>{{this.helpful.helpfulness}}</dd>
				<dt>Score</dt>
				<dd>{{this.helpful.score}}</dd>
				<dt>Threshold after review</dt>
				<dd>{{this.helpful.threshold}}</dd>
				<dt>Cascade direction after review</dt>
				<dd>{{this.helpful.cascadeDirection}}</dd>
			</dl>
		</div>
		<div class="col-md-4">
			<canvas id="pieChart" width="300" height="300"></canvas>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<canvas id="productChart" width="1000" height="400"></canvas>
		</div>
	</div>
</main>
<script>
	var ctx = document.getElementById("productChart");
	var pieChart = document.getElementById("pieChart");

	var dataSet,
		reviews = [],
		reviewsPie = [],
		reviewsTime = [],
		reviewsColor = [],
		helpfulIndex = {{this.helpful.offset}};

	{{#each this.reviews}}
		reviewsTime.push({{this.unixTime}});
		reviewsPie.push({{this.score}});
		if ({{@index}} == helpfulIndex)
			reviewsColor.push('#FFCF40');
		else
			reviewsColor.push({{this.score}} > 3 ? '#8de098' : '#e24d4d');
	{{/each}}

	var myChart = new Chart(ctx, {
		type: 'bar',
		data: {
			labels: reviewsTime,
			datasets: [{
				label: 'Reviews',
				data: reviewsPie,
				backgroundColor: reviewsColor,
				borderColor: reviewsColor,
				borderWidth: 1
			}]
		},
		options: {
			legend: {
				display: false
			},
			scales: {
				yAxes: [{
					ticks: {
						min: 0,
						max: 5
					}
				}]
			}
		}
	});

	var myPieChart = new Chart(pieChart,{
		type: 'pie',
		data: {
			labels: [
				"Low",
				"High"
			],
			datasets: [
				{
					data: [{{this.helpful.high}}, {{this.helpful.low}}],
					backgroundColor: [
						"#8de098",
						"#e24d4d"
					],
					hoverBackgroundColor: [
						"#8de098",
						"#e24d4d"
					]
				}
			]
		}
	});
</script>