<main class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>Product Reviews</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<dl>
				<dt>Total count</dt>
				<dd>{{this.count}}</dd>
				<dt>Average score</dt>
				<dd>{{this.averageScore}}</dd>
				<dt>Average threshold</dt>
				<dd>{{this.averageThreshold}}</dd>
				<dt>Average position of the most helpful review</dt>
				<dd>{{this.averageOffset}}%</dd>
				<dt>Average threshold variation after the most helpful review</dt>
				<dd>{{this.thresholdVariation}}</dd>
			</dl>
		</div>
		<div class="col-md-6">
			<canvas id="barChart" width="300" height="200"></canvas>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<table id="productsTable" class="table table-striped table-bordered">
				<thead>
					<th>Product ID</th>
					<th>Score</th>
					<th>Number of reviews</th>
					<th>Threshold</th>
					<th>Cascade direction</th>
					<th>Most helpful distance (%)</th>
				</thead>
				{{#each this.products}}
					{{#if this._id}}
						<tr>
							<td><a href="/{{this._id}}" title="Go to product {{this._id}}">{{this._id}}</a></td>
							<td>{{this.score}}</td>
							<td>{{this.reviewCount}}</td>
							<td>{{this.threshold}}</td>
							<td>{{this.cascadeDirection}}</td>
							<td>{{this.helpfulIndex}}</td>
						</tr>
					{{/if}}
				{{/each}}
			</table>
		</div>
	</div>
</main>

<script>
	$(document).ready(function() {
		$("#productsTable").tablesorter();
	});

	var bracketsData = [],
		bracketsColor = [];
	{{#each this.brackets}}
		bracketsData.push({{this}});
		bracketsColor.push('#8de098');
	{{/each}}

	var ctx = document.getElementById("barChart");
	var myChart = new Chart(ctx, {
		type: 'bar',
		data: {
			labels: ['0.0 - 0.1', '0.1 - 0.2', '0.2 - 0.3', '0.3 - 0.4', '0.4 - 0.5', '0.5 - 0.6', '0.6 - 0.7', '0.7 - 0.8', '0.8 - 0.9', '0.9 - 1.0'],
			datasets: [{
				label: 'Threshold Distribution',
				data: bracketsData,
				backgroundColor: bracketsColor,
				borderColor: bracketsColor,
				borderWidth: 1
			}]
		}
	});
</script>